<html>
<head>
Update Macro
</head>
<body>
<FORM action="/update" method="post">
	 <label> <span>Api Key:</span> 
	 	<input id="apikey" type="text" name="apikey" placeholder="Your Api Key" required /> 
	 </label>
	 <br>
	 <label> <span>Macro Name:</span>
	 	<input id="name" type="text"  name="macro" placeholder="Macro name" required />
	 </label>
	 <br>
	 <!-- Api information here -->
	 <label> <span>Apis</span>
	 	<input id="apis" type="text" name="apis" placeholder="apis" required />
	 </label>
	 <label> <span>varSchema</span></label>
	 <label> <span>resSchema</span></label>
	 <!-- End api information -->
	 <br>
	 <label> 
	 	<span>&nbsp;</span> 
	 	<input id="submit" type="submit" class="button" value="Send" action="submit" /> 
	 </label>
</form>
</body>
</html>