<!doctype html>
<html>

<body>
<form id= 'form' action='/signup' method='post'>
	<label>Username: </label>
	<input type="text" id="username" name="username" placeholder="username" required>
	<br>
	<label>Password: </label>
	<input type="password" id="password" name="password" required>
	<br>
	<label>Confirm Password: </label>
	<input type="password" id="passwordCheck" name="passwordCheck" required>
	<br>
	<input id="button" type="submit" class="button" value="Sign Up" action="submit" />
</form>
</body>
</html>