<!doctype html>
<html>
<head>
<h1>Sign In</h1>
</head>
<body>
<form id= 'form' action='/login' method='post'>
	<label>Username: </label>
	<input type="text" id="username" name="username" placeholder="username" required>
	<br>
	<label>Password: </label>
	<input type="password" id="password" name="password" required>
	<br>
	<input id="button" type="submit" class="button" value="Login" action="submit" />
</form>
</body>
</html>