<html>
<head>
Update Macro
</head>
<body>
<form action="/update" method = "post">
	 <label> <span>Your Name :</span> <input id="name" type="text" name="name" placeholder="Your Full Name" required /> </label> <label> <span class="collapse-mobile">Your Email :</span> <input id="email" type="email" name="email" placeholder="Valid Email Address" required /> </label> <label> <span class="collapse-mobile">Message :</span> <textarea id="message" name="message" placeholder="Your Message" required ></textarea> </label> <label> <span>&nbsp;</span> <input id="submit" type="button" class="button" value="Send" /> </label>
</form>
</body>
</html>